.header {
  grid-area: h;
  background-image: url(https://h2.hqtexture.com/104/10374/1458556419-shutterstock-128127866.jpg);
}

.header img {
  width: 100px;
}

.loginBlock {
  float: right;
}

/*.loginBlock a {*/
/*  color: white;*/
/*}*/